@import '@/styles/variables.scss';

$table-columns-size: 230px;

.taier__dataSync__keyMap__alert {
	margin-bottom: 10px;
	font-size: 12px;
}

.taier__dataSync__keyMap__container {
	display: grid;
	grid-template-columns: $table-columns-size 1fr $table-columns-size;
	margin: 0 20px;

	.taier__dataSync__keyMap__lines {
		width: calc(100% + 20px);
		height: 100%;
		color: rgb(100, 158, 254);
		position: relative;
		left: -10px;
		z-index: 999;
	}

	.taier__dataSync__tooltips {
		position: absolute;
		background: #000;
		text-align: center;
		border-radius: 2px;
		box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
		transform: translate(-50%, -110%);
		color: #fff;
		height: 28px;
		line-height: 28px;
		opacity: 0;
		width: 60px;
		transition: opacity 0.3s;
	}
}

.taier__dataSync__keyMap__buttonGroups {
	.ant-btn {
		width: 100%;
	}
}

.anticon.taier__dataSync--disabled {
	cursor: not-allowed;
	color: rgba(0, 0, 0, 0.25);
}